---
version: '3'
services:
  linkding:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.schedule: "{{backups.schedule_keys.nightly}}"
    container_name: "linkding"
    image: sissbruecker/linkding:latest
    ports:
      - "9090:9090"
    volumes:
      - "data:/etc/linkding/data"
    restart: unless-stopped
volumes:
  data:
