version: '3.1'
services:
  mariadb:
    labels:
      ie.cianhatton.backup.enabled: "true"
    container_name: mariadb
    image: mariadb
    hostname: mariadb
    restart: unless-stopped
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql
      - config:/etc/mysql/conf.d
    environment:
      - MYSQL_ROOT_PASSWORD={{ mariadb.mysql_root_password }}

  adminer:
    restart: unless-stopped
    image: adminer:latest
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
      ADMINER_DESIGN: galkaev
    ports:
      - 3307:8080
volumes:
  data:
  config:


networks:
  default:
    name: nextcloud_net
    external: true
