---
version: '3'
services:
  minio:
    image: "{{ template_vars.image }}:{{ template_vars.tag }}"
    ports:
        # The web console
      - "11000:9000"
        # The API
      - "11001:9001"
    volumes:
      - minio_storage:/data
    environment:
      # specified in the vault file
      MINIO_ROOT_USER: "{{ minio_username }}"
      MINIO_ROOT_PASSWORD: "{{ minio_password }}"
      MINIO_API_ROOT_ACCESS: "on"
      MINIO_BROWSER_REDIRECT_URL: http://192.168.178.42:11000
      # enable encryption
      MINIO_KMS_AUTO_ENCRYPTION: "on"
      MINIO_KMS_SECRET_KEY: "minio-key:{{ minio_encryption_key }}"

    command: server --console-address ":9001" /data

volumes:
  minio_storage: {}
