---
version: '3.2'
services:
  nextcloud:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.schedule: "{{ backups.schedule_keys.nightly }}"
    image: "{{ template_vars.image }}:{{ template_vars.tag }}"
    container_name: nextcloud
    restart: unless-stopped
    ports:
      - 8081:80
    volumes:
      - data:/var/www/html
volumes:
  data:

networks:
  default:
    name: {{ template_vars.default_network }}
    external: true
