---
version: "3"
services:
  pihole:
    container_name: pihole
    image: "pihole/pihole:2022.09.2"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "85:80/tcp"
    environment:
      WEBPASSWORD: '{{ pihole_web_password }}'
      DNSMASQ_LISTENING: "all"
    volumes:
      - '{{ inventory_hostname_short }}_app:/etc/pihole'
      - '{{ inventory_hostname_short }}_dns:/etc/dnsmasq.d'
    restart: unless-stopped

volumes:
  "{{ inventory_hostname_short }}_app":
  "{{ inventory_hostname_short }}_dns":
