---
version: '3.3'
services:
  uptime-kuma:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.key: "{{backups.schedule_keys.nightly}}"
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - data:/app/data
    ports:
      - 3001:3001
    restart: unless-stopped

volumes:
  data:
