---
version: "3"
services:
  surfshark:
    image: ilteoood/docker-surfshark
    container_name: surfshark
    environment:
      - SURFSHARK_USER={{ vpn.surfshark_username }}
      - SURFSHARK_PASSWORD={{ vpn.surfshark_password }}
      # must specify LAN_NETWORK otherwise you will not be able
      # to access ports which are exposed here.
      - LAN_NETWORK={{ vpn.lan_network }}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      # qbittorrent
      - 15000:15000
      - 6881:6881
      - 6881:6881/udp
      # radarr
      - 7878:7878
      # sonarr
      - 8989:8989
      # jackett
      - 9117:9117

    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8

  qbittorrent:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.key: "{{backups.schedule_keys.nightly}}"

    depends_on:
      - surfshark
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:surfshark
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - WEBUI_PORT=15000
    volumes:
      - qbittorrent_config:/config
      - {{ qnap.downloads_dir }}:/downloads
    restart: unless-stopped

  radarr:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.key: "{{backups.schedule_keys.nightly}}"
    depends_on:
      - surfshark
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: service:surfshark
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - radarr_config:/config
      - {{ qnap.movies_dir }}:/movies
      - {{ qnap.downloads_dir }}:/downloads
    restart: unless-stopped

  sonarr:
    depends_on:
      - surfshark
    image: lscr.io/linuxserver/sonarr:latest
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.key: "{{backups.schedule_keys.nightly}}"
    container_name: sonarr
    network_mode: service:surfshark
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - sonarr_config:/config
      - {{ qnap.tv_dir }}:/tv
      - {{ qnap.downloads_dir }}:/downloads
    restart: unless-stopped

  jackett:
    labels:
      ie.cianhatton.backup.enabled: "true"
      ie.cianhatton.backup.key: "{{backups.schedule_keys.nightly}}"
    depends_on:
      - surfshark
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    network_mode: service:surfshark
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - AUTO_UPDATE=true
    volumes:
      - jackett_config:/config
      - {{ qnap.downloads_dir }}:/downloads
    restart: unless-stopped

volumes:
  qbittorrent_config:
  radarr_config:
  sonarr_config:
  jackett_config:
