version: '3'
services:
  bitwarden:
    image: bitwardenrs/server
    restart: always
    ports:
      - ${HOST_PORT}:80
    volumes:
      - data:/data
    environment:
      WEBSOCKET_ENABLED: 'true' # Required to use websockets
      SIGNUPS_ALLOWED: 'true'   # set to false to disable signups
volumes:
  data: